# Node
node_modules

# Hidden
.*

# Husky
!.husky/_

# VS Code
!.vscode

# Git
!.gitignore

# GitHub
!.github

# NPM
!.npmrc
!.npmignore

# NVM
!.nvmrc

# Prettier
!.prettierignore
!.prettierrc.json

# pnpm
pnpm-lock.yaml

# Changesets
!.changeset
